<p></p>
<div id="main-wrapper" class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="mb-5">
                                    <h3 class="h4 font-weight-bold text-theme">Contactanos!</h3>
                                </div>

                                <h6 class="h5 mb-0">Aqui puedes dejar tu comentario sobre nuestra web</h6>
                                <p class="text-muted mt-2 mb-5">Todos los comentarios solo son vistos por personal autorizado :)</p>

                                <form>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Ingrese su email</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1">
                                    </div>
                                    <div class="form-group mb-5">
                                        <label for="exampleInputPassword1">Deje aqui su comentario</label>
                                        <input type="text" class="form-control" id="exampleInputText1">
                                    </div>
                                    <button type="submit" class="btn btn-theme">Enviar</button>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="account-testimonial">
                                    <h4 class="text-white mb-4">Espero que su navegacón haya sido agradable!</h4>
                                    <p class="lead text-white">"Aceptamos las crticas constructivas y las pondremos en marcha."</p>
                                    <p>- Chuli</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- end card-body -->
            </div>

        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
</div>