.todo{
 background-color: rgba(240, 242, 244, 0.647);
    padding: 90px;
    margin: 50px;
}
h1{
  text-align: center;
  color: #000000;
}
.btn{
  background-color: #f44336;
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 300px;
}
.card{
  background-color: #ffffffa9;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.produc{
  color: #000000;
  border: none;
  width: 100%;
}

P{
  text-align: center;
  color: #000000;
}

.setting-btn{
  background-color: #f44336;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
.btm{
  margin: 5px;
  border: none;
  padding: 5px 5px;
  border-radius: 10px;
}