<div id="carouselExampleCaptions" class="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://firebasestorage.googleapis.com/v0/b/campusv2-72dd0.appspot.com/o/La%20patagonia%2F1.png?alt=media&token=e0e33ad2-eecb-4342-b6e8-a5924202bdef" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Primera Opción</h5>
        <p>las ofertas tienen una fecha limite, pregunte en atencion al cliente.
          muchas gracias
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/campusv2-72dd0.appspot.com/o/La%20patagonia%2F2.png?alt=media&token=56934b6e-3bb6-4d71-a22e-2a13fbf4733a" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Segunda Opción</h5>
        <p>las ofertas tienen una fecha limite, pregunte en atencion al cliente.
          muchas gracias</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/campusv2-72dd0.appspot.com/o/La%20patagonia%2F3.png?alt=media&token=48017195-054e-4133-9493-2e728ea1022d" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Tercera Opción</h5>
        <p>las ofertas tienen una fecha limite, pregunte en atencion al cliente.
          muchas gracias</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>