p, h5{
    font-family: "Edu VIC WA NT Hand", cursive;
    color: rgba(0, 0, 0, 0.722);
}
.carousel{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 25px
}