h1 {
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
}
p{
  color: #ffffff;
}
.produc{
  color: #ffffff;
}
th, td{
  color: #000000;
}

.contenedor{
  max-width: 1000px;              /* Tamaño elegante */
  margin: 50px auto;             /* Centrado */
  padding: 50px;
  background: rgba(255, 255, 255, 0.75);  /* Blanco semitransparente */
  backdrop-filter: blur(6px);    /* Efecto glass suave */
  border-radius: 10px;           /* Bordes redondeados */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);  /* Sombra moderna */
  border: 1px solid rgba(255, 255, 255, 0.4);
  animation: fadeIn .4s ease-in-out;
}