<div class="fav">
  <h1>sección de favoritos</h1>
  <div *ngIf="productoEnFavoritos.length === 0">
    <p>No tiene un producto en favoritos</p>
  </div>

  <table class="contenedor">
    <thead>
      <button class="btn" (click)="vaciarFavoritos()">vaciar</button>
      <tr>
        <th>imagen</th>
        <th>nombre</th>
        <th>descripcion</th>
        <th>precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of productoEnFavoritos; let i = index">
        <td>
          <img
            [src]="item.producto.imagen"
            alt="{{ item.producto.nombre }}"
          />
        </td>
        <td>{{ item.producto.nombre }}</td>
        <td>{{ item.producto.descripcion }}</td>
        <td>{{ item.producto.precio }}</td>
        <td>
          <button (click)="quitarFavoritos(i)">eliminar favorito</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
