.InputContainer {
  width: 210px;
  height: 30px;
  display: flex;
  align-items:center;
  justify-content: center;
  background: linear-gradient(to bottom,rgb(227, 213, 255),rgb(255, 231, 231));
  border-radius: 60px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.input {
  width: 150px;
  height: 100px;
  border: none;
  outline: none;
  caret-color: rgb(255, 81, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding-left: 15px;
  letter-spacing: 0.8px;
  color: rgb(19, 19, 19);
  font-size: 13.4px;
}
#user {
  font-size: 30px;
}
#logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: -10px;
}
img{
  width: 50px;
  height: 50px;
}
