<div class="container">
  <h1>gallery</h1>
  <hr class="gallery" />
  <div class="row">
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail img-responsive">
        <a title="Image 1"
          ><img
            src="https://firebasestorage.googleapis.com/v0/b/campusv2-72dd0.appspot.com/o/La%20patagonia%2Fargentina.jpg?alt=media&token=f66bdaaa-21b4-422b-af7e-9c96403ecbdd"
          />
        </a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail img-responsive">
        <a title="Image 1"
          ><img
            src="https://firebasestorage.googleapis.com/v0/b/campusv2-72dd0.appspot.com/o/La%20patagonia%2Fcasa.jpg?alt=media&token=18fe583f-5799-4553-b77d-abc2647157eb"
        /></a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail">
        <a title="Image 1"
          ><img
            src="https://firebasestorage.googleapis.com/v0/b/campusv2-72dd0.appspot.com/o/La%20patagonia%2Fcelebracion.jpg?alt=media&token=e55843fe-090c-4a25-abc8-8285edea20ef"
        /></a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail img-responsive">
        <a title="Image 1"
          ><img
            src="https://firebasestorage.googleapis.com/v0/b/campusv2-72dd0.appspot.com/o/La%20patagonia%2Ffolklore.jpg?alt=media&token=aab0bfa9-a67d-4277-9a46-cbe279916c3a"
        /></a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail img-responsive">
        <a title="Image 1"
          ><img
            src="https://firebasestorage.googleapis.com/v0/b/campusv2-72dd0.appspot.com/o/La%20patagonia%2Ftrevelin.jpg?alt=media&token=fca155f6-c6f0-4cc7-a3c0-8833c2fb2480"
        /></a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail img-responsive">
        <a title="Image 1"
          ><img
            src="https://firebasestorage.googleapis.com/v0/b/campusv2-72dd0.appspot.com/o/La%20patagonia%2Fpaisaje.jpg?alt=media&token=9b1cc2a8-b63f-40f0-a026-d5cab5d65be0"
        /></a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail img-responsive">
        <a title="Image 1"
          ><img
            src="https://firebasestorage.googleapis.com/v0/b/campusv2-72dd0.appspot.com/o/La%20patagonia%2Ftango.jpg?alt=media&token=6fbfe256-2727-4ec4-998d-1ccbb32314ef"
        /></a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail img-responsive">
        <a title="Image 1"
          ><img
            src="https://firebasestorage.googleapis.com/v0/b/campusv2-72dd0.appspot.com/o/La%20patagonia%2Fmaradona.jpg?alt=media&token=c6fa1893-87cb-48f1-94c7-f2c7289369c5"
        /></a>
      </div>
    </div>
    <div class="col-lg-4 col-sm-6">
      <div class="thumbnail img-responsive">
        <a title="Image 1"
          ><img
            src="https://firebasestorage.googleapis.com/v0/b/campusv2-72dd0.appspot.com/o/La%20patagonia%2Fcampeona.jpg?alt=media&token=26c1c19e-c2d3-47eb-bf05-cd3902ca07df"
        /></a>
      </div>
    </div>
  </div>
</div>
<div id="modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
<section>
  <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"
  ></script>
  <script
    type="text/javascript"
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
  ></script>
  <script type="text/javascript" src="js/gallery.js"></script>

  <h1>localizacion de nuestro resraurante</h1>
  <div class="mapa">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2973.1336534305697!2d12.56035571162528!3d41.82542007112763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132589a60c88f85b%3A0xe5da2aa0d74997dc!2sCapannelle%2FAppia%20Nuova!5e0!3m2!1ses!2sar!4v1748700070727!5m2!1ses!2sar"
      
    ></iframe>
  </div>
</section>
