img{
  display: flex;
  padding: 5px;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
  margin: 10px auto;
 position: relative;
 background-color: rgba(255, 255, 255, 0.734);
}

h1{
  font-family: "Edu VIC WA NT Hand", cursive;
  color: rgb(255, 249, 249);
  text-align: center;
  font-size: 2.5rem;
}
p{
  color: aliceblue;
}