

.container {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center; /* Centra los elementos hijos (las cards) horizontalmente */
  flex-wrap: wrap; /* Permite que las cards pasen a la siguiente línea si no hay suficiente espacio */
}

.card {
  border-radius: 1em;
  width: 200px; /* Ancho inicial */
  height: 150px; /* Altura fija */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out; /* Añadimos transición para la altura */
  z-index: 0;
  transform-origin: center center; /* El centro será el punto de escalado inicial */
}

.card:hover {
  transform: scaleX(1.3) scaleY(1.1); /* Escala más en el eje X (ancho) que en el Y (alto) */
  width: 250px; /* Aumenta el ancho al hacer hover */
  height: 200px; /* Aumenta la altura al hacer hover a 200px */
  z-index: 1;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 1em;
}

.card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  filter: blur(2px);
  transform-origin: center center;
}

.card:hover .image-container img {
  transform: scale(1.3);
  filter: blur(0);
}

.overlay-text {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8em;
  z-index: 2;
  transition: opacity 0.3s ease-in-out, top s ease-in-out;
}

.card:hover .overlay-text {
  opacity: 0;
}